/* static/css/custom.css */
.select2-container {
    width: 100% !important;
}
.select2-selection__arrow {
    height: 38px !important;
}

.table {
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 0.5rem;
}

.table-sm th, .table-sm td {
    padding: 0.3rem;
}